@import "partials/params-g";
@import "partials/mixins";

.slider-2 {
// |---PARAMS-LOC---|
$main-bg: $global-isabelline;
$arrow-bg: $global-white;
$arrow-color: $global-black;

// |---STYLES---|
    margin-bottom: 50px;

    &__content {
        position: relative;
        height: 750px;
        margin: 0 auto;
        background-color: $main-bg;
        &:hover {
            .slider-2__img {
                filter: none;
            }
        }
    }

    &__letter-ground {
        position: absolute;
        z-index: 5;
        margin-left: 90px;
    }

    &__slider-box {
        display: flex;
        justify-content: center;
    }

    &__roundabout {
        width: 1330px;
    }

    &__img {
        filter: grayscale(100%);
        transition: .65s linear;
    }

    &__img--1 {

    }

    &__img--2 {

    }

    &__img--3 {

    }

    &__arrow-back {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -5;
        cursor: pointer;
        color: $arrow-color;
        width: 75px;
        height: 75px;
        background-color: $arrow-bg;
        transition: .125s linear;
        margin-left: 40px;
        &:hover {
            background-color: darken($arrow-bg, 20%);
        }
        &:active {
            background-color: darken($arrow-bg, 30%);
        }
    }

    &__arrow-next {
        @extend .slider-2__arrow-back;
        margin-right: 40px;
    }
}
